.input-group {
  border: gray 1px solid;
  border-radius: 10px;
}

.form-control {
  background-color: transparent;
  border: none;
  font-size: 25px;
}

.btnAdd {
  background-color: transparent;
  color: gray;
  text-align: center;
  line-height: 100%;
}
