.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;

  word-break: break-all;
}

.btnRemove {
  margin-left: 20px;
}

.item-value {
  color: gray;
}
